/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Ayuda
      %small
        %li Inicio
        %li /
        %li Ayuda
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        %iframe#doc_5664.scribd_iframe_embed{"data-aspect-ratio" => "0.708006279434851", "data-auto-height" => "false", frameborder: "0", height: "600", scrolling: "no", src: "//www.scribd.com/embeds/204358118/content?start_page=1&view_mode=scroll&access_key=key-poojzp2mgq4y6n6uvla&show_recommendations=false", width: "100%"}
  / Row end