/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Donaciones
      %small
        %li Inicio
        %li /
        %li Donaciones
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Donaciones
        .widget-body.no-border
          %p Gracias por tomar la decisión de apoyar económicamente el desarrollo y mantenimiento del software Admin Church.
          %p La finalidad de este proyecto es brindar una plataforma web para las Iglesias cristianas evangélicas que les ayude a mejorar sus procesos administrativos, organizando, consolidando la información y generando reportes gráficos e informativos que ayuden a tomar mejores decisiones, teniendo la oportunidad de acceder a dicha plataforma el tiempo que se estime necesario y desde cualquier lugar del mundo.
          %p A través de este proyecto queremos bendecir a la mayor cantidad de Iglesias, y esa es la razón por la cual no cobramos una tasa de inscripción o mantenimiento, tampoco limitamos el servicio que brindamos, creyendo que el éxito de nuestro trabajo se verá reflejado en el crecimiento de la obra de Dios.
          %p 
            El desarrollo de Admin Church está a cargo de 
            %a.text-error{href: "http://clmdevelopers.com", target: "_blank"} 
              CLM Developers S.A.C
            , una empresa con valores cristianos que se dedica a promover el desarrollo de las Iglesias cristianas evangélicas a nivel organizacional, y que tiene como propósito apoyar el desarrollo de las misiones a nivel nacional e internacional, para que el reino de Dios sea expandido por todo el mundo. Su apoyo económico será usado para el pago de servidores y honorarios de los ingenieros, técnicos y administradores que trabajan desarrollando Admin Church.
          %p Muchas Gracias.
          .callout.callout-warning.no-margin
            %p 
              Dios da la semilla que se siembra y el pan que nos alimenta, así que también les dará a ustedes todo lo necesario, y hará que tengan cada vez más, para que puedan ayudar a otros.
            %span.text-danger{style: "float:right;"} - 2 Corintios 9:10
          .col-md-6.col-sm-6.col-md-offset-3.center-align-text
            %h4 CUENTA BCP SOLES
            %p
              %strong NÚMERO DE CUENTA: 
              570 - 2104245 - 0 - 74
            %p
              %strong CÓDIGO INTERBANCARIO: 
              002 - 570 - 002104245074 - 08
  / Row end