/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Coordinadores
      %small
        %li Home
        %li /
        %li Consolidación
        %li /
        %li Coordinadores
  / Page title end


  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Filtro
              .widget-body
                %br
                %form#form_coordinadores.form-horizontal{name: "form_coordinadores", method: "post"}
                  .form-group
                    %label.col-lg-2.col-sm-2.checkbox-inline{style:"text-align:right;"}
                      
                      Grupos Principales
                    .col-lg-3.col-sm-2
                      %select#red_lista.form-control{name: "red_lista"}
                        %option{value: "0"} RH 1 - Hombres
                        %option{value: "1"} R1
                        %option{value: "2"} R2
                        %option{value: "3"} R3

        .row
          .col-md-12.col-sm-12
            .widget

              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Lista de Miembros
            .widget-body
              %table#coordinadorestable.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                  %tg Nro
                  %th Nombre y Apellido
                  %th Fecha Conversión
                  %th Fecha Bautizo
                  %th Acciones
                %tbody
              .clearfix
        .row
          .col-md-12.col-sm-12
            .widget
            %br
            
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Lista de Coordinadores   
            .widget-body
              %table#coordinadorestable.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                  %th Nro
                  %th Nombre y Apellido
                  %th Fecha Conversión
                  %th Fecha Bautizo
                  %th Acciones
                %tbody
                  %tr
                  %td Nro
                  %td Nombre y Apellido
                  %td Fecha Conversión
                  %td Fecha Bautizo
                  %td 
                    %a.btn{'href' => '#showModal', 'data-toggle' => 'modal', "data-icon"=>""}
              .clearfix