/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Informe Herramientas de Consolidación
      %small
        %li Home
        %li /
        %li Consolidación
        %li /
        %li Informe Herramientas de Consolidación
  / Page title end