/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Informe de Seguimiento Consolidado
      %small
        %li Home
        %li /
        %li Consolidación
        %li /
        %li Informe de Seguimiento Consolidado
  / Page title end