/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Informe Coordinadores
      %small
        %li Home
        %li /
        %li Consolidación
        %li /
        %li Informe Coordinadores
  / Page title end