/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Asistencia
      %small
        %li Home
        %li /
        %li Reportes
        %li /
        %li Asistencia
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Filtro
              .widget-body
                %form#form_asistencia.form-horizontal{name: "form_asistencia", method: "post"}
                  .form-group
                    %label.col-lg-2.control-label{for: "servicio"} Del
                    .col-lg-10
                      .row
                        .col-lg-5.col-sm-5
                          %div#datepicker.input-daterange.input-group
                            %input#fecha1.form-control{name: "fecha1", type: "text"}
                            %span.input-group-addon 
                              al
                            %input#fecha2.form-control{name: "fecha2", type: "text"}
                        .col-lg-2.col-sm-2
                          %button#btnGenerar_asistencia.btn.btn-success{type: "button", name: "btnGenerar_asistencia"} 
                            Generar
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Reporte de Asistencia Por Categoria Por Servicio
              %table#table_asitencia_general.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                %thead
                  %tr
                    %th TIPO SERVICIO
                    %th SERVICIO
                    %th TOTAL
                %tfoot
                  %tr
                    %th{colspan:"2"} Total
                    %th#totalasistencia
                %tbody
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Reporte de Asistencia Por Servicio
              .dt_example
                %table#table_asitencia_mensual.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                  %thead
                    %tr
                      %th PERIODO
                      %th TIPO SERVICIO
                      %th SERVICIO
                      %th CATEGORIA
                      %th CANTIDAD
                  %tbody
        
        .row
          .col-md-12.col-sm-12
            .widget
              /%a#btnImprimir.btn.btn-default{type: "button", name: "btnImprimir"}
              /  %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
              /  Imprimir
              %a#btnReporte.btn.btn-success{type: "button", name: "btnReporte"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Reporte Excel

- content_for :bloquejavascript do
  = javascript_include_tag :reporte_asistencia
  :javascript
    $('##{@mactive} > span').addClass('current-arrow');