/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Ofrenda
      %small
        %li Home
        %li /
        %li Reportes
        %li /
        %li Ofrenda
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Filtro
              .widget-body
                %form#form_asistencia.form-horizontal{name: "form_asistencia", method: "post"}
                  .form-group
                    %label.col-lg-2.control-label{for: "servicio"} Servicio
                    .col-lg-10
                      .row
                        .col-lg-2.col-sm-2
                          = servicios_select()
                        %label.col-lg-1.control-label{for: "fecha1"} Del
                        .col-lg-6.col-sm-6
                          %div#datepicker.input-daterange.input-group
                            %input#fecha1.form-control{name: "fecha1", type: "text"}
                            %span.input-group-addon 
                              al
                            %input#fecha2.form-control{name: "fecha2", type: "text"}
                        .col-lg-2.col-sm-2
                          %button#btnGenerar_ofrendas.btn.btn-success{type: "button", name: "btnGenerar_asistencia"} 
                            Generar
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                  Reporte de Ofrendas
              .dt_example
                %table#table_ofrendas.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
                  %thead
                    %tr
                      %th Tipo Servicio
                      %th Servicio
                      %th Turno
                      %th Fecha
                      %th Monto
                  %tbody
                  %tfoot
                    %tr
                      %th{colspan:"4"} Total
                      %th#totalofrendas
        .row
          .col-md-12.col-sm-12
            .widget
              /%a#btnImprimir.btn.btn-default{type: "button", name: "btnImprimir"}
              /  %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
              /  Imprimir
              %a#btnReporte.btn.btn-success{type: "button", name: "btnReporte"}
                %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
                Reporte Excel

- content_for :bloquejavascript do
  = javascript_include_tag :reporte_ofrendas
  :javascript
    $('##{@mactive} > span').addClass('current-arrow');