/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Buzón de Sugerencias
      %small
        %li Home
        %li /
        %li Buzón de Sugerencias
  / Page title end
  / Row start
  .row
    .col-md-12
      .widget.no-margin
        .widget-header
          .title
            %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
            Escribir Sugerencia
        .widget-body
          Gracias por enviarnos tu sugerencia :)