/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Membresia
      %small
        %li Home
        %li /
        %li Membresia
  / Page title end
  / Row start
  .row
    .col-md-12