/ Dashboard wrapper start
.dashboard-wrapper
  / Page title start
  .row.page-title
    %h2
      Informe Plan de Trabajo
      %small
        %li Home
        %li /
        %li Información General
        %li /
        %li Informe Plan de Trabajo
  / Page title end

  / Row start
  .row
    .col-md-12
      .widget
        .row
          .col-md-12.col-sm-12
            .widget
              .widget-header
                .title 
                  %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
                    Filtro
                              
              .widget-body
                %br
                %form#form_plan_trabajo.form-horizontal{name: "form_plan_trabajo", method: "post"}
                  .form-group
                    %label.col-lg-2.col-sm-2.checkbox-inline{style:"text-align:right;"}
                      %input#fecha{type: "checkbox", name: "fecha", style:"float:none;"}
                        Fechas: del
                    .col-lg-10
                      .row
                        .col-lg-5.col-sm-5
                          %div#datepicker.input-daterange.input-group
                            %input#fecha1.form-control{name: "fecha1", type: "text"}
                            %span.input-group-addon 
                              al
                            %input#fecha2.form-control{name: "fecha2", type: "text"}
                        %label.col-lg-1.col-sm-1.checkbox-inline{style:"text-align:right;"}
                          %input#mes{type: "checkbox", name: "mes", style:"float:none;"}
                          Mes
                        .col-lg-2.col-sm-2
                          %select#mes_lista.form-control{name: "mes_lista"}
                            %option{value: "0"} Todos
                            %option{value: "1"} Enero
                            %option{value: "2"} Febrero
                            %option{value: "3"} Marzo
                            %option{value: "4"} Abril
                            %option{value: "5"} Mayo
                            %option{value: "6"} Junio
                            %option{value: "7"} Julio
                            %option{value: "8"} Agosto
                            %option{value: "9"} Setiembre
                            %option{value: "10"} Octubre
                            %option{value: "11"} Noviembre
                            %option{value: "12"} Diciembre
                        %button#btnBuscar_plan_trabajo.btn.btn-success{type: "button", name: "btnBuscar_plan_trabajo"} 
                          Buscar
    .row
      .col-md-12.col-sm-12
        .widget
          .widget-header
            .title
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""}
              Reporte Plan de Trabajo
          %table.data-table.table.table-condensed.table-striped.table-hover.table-bordered.pull-left
            %thead
              %tr
                %th Procesos
                %th Actividad
                %th Responsable
                %th Mes
                %th Fecha Asignada

                %th TOTAL
            %tfoot
              %tr
                %th{colspan:"5"} Total
                %th#totalplantrabajo
            %tbody  
          .clearfix    
      
      .row
        .col-md-12.col-sm-12
          .widget
            %br
            %br
            %a#btnReporte.btn.btn-success{type: "button", name: "btnReporte"}
              %span.fs1{"aria-hidden" => "true", "data-icon" => ""} 
              Reporte Excel
